@model IEnumerable<Contact>

<div class="d-flex justify-content-between align-items-center mb-3">
    <h1>Contacts for @ViewData["PartnerName"]</h1>
</div>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Name</th>
            <th>Tel</th>
            <th>Mobile</th>
            <th>Email</th>
            <th>Address</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var contact in Model)
        {
            <tr>
                <td>@contact.Title @contact.Name</td>
                <td>@contact.Tel</td>
                <td>@contact.Mobile</td>
                <td>@contact.Email</td>
                <td>@contact.Address.Name</td>
            </tr>
        }
    </tbody>
</table>
<a asp-controller="BusinessPartner" asp-action="Index" class="btn btn-secondary">Back to Business Partners</a>
