@model SF.ViewModel.ContactListViewModel

<div class="d-flex justify-content-between align-items-center mb-3">
    <div>
        <h1>Contacts</h1>
        <h2>Business Partner: @Model.BusinessPartnerName</h2>
        <h4>Address Name: @Model.AddressName</h4>
    </div>
    <a asp-action="Create" asp-route-addressId="@ViewData["AddressId"]" class="btn btn-primary">Add New Contact</a>
</div>

<input type="hidden" id="AddressId" value="@ViewData["AddressId"]" />

<table id="myTable" class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Name</th>
            <th>Tel</th>
            <th>Mobile</th>
            <th>Email</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

<a asp-action="Index" asp-controller="Address" asp-route-partnerId="@Model.BusinessPartnerId" class="btn btn-secondary">Back to Address</a>

@section Scripts {
    <script>
        $('#myTable').DataTable({
            ajax: {
                url: '/Contact/GetData',
                type: 'GET',
                data: {
                    addressId: $('#AddressId').val()
                }
            },
            columns: [
                { data: 'title' },
                { data: 'name' },
                { data: 'tel' },
                { data: 'mobile' },
                { data: 'email' },
                {
                    data: 'id',
                    render: function (data) {
                        return `<a href="/Contact/Edit/${data}" class="btn btn-md btn-warning">Edit</a>
                                <a href="/Contact/Delete/${data}" class="btn btn-md btn-danger">Delete</a>`;
                    }
                }
            ]
        });


    </script>
}
